<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.KRunc.foodemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.KRunc.foodemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.KRunc.foodemo.KeywordSearchActivity"
            android:label="@string/title_activity_keyword_search"
            android:parentActivityName="com.KRunc.foodemo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.KRunc.foodemo.MoodSelectionActivity"
            android:label="@string/title_activity_mood_selection"
            android:parentActivityName="com.KRunc.foodemo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.KRunc.foodemo.RecipeListActivity"
            android:label="@string/title_activity_recipe_list" >
        </activity>
        <activity
            android:name="com.KRunc.foodemo.RecipeDescriptionActivity"
            android:label="@string/title_activity_recipe_description"
            android:parentActivityName="com.KRunc.foodemo.RecipeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="RecipeListActivity" />
        </activity>
    </application>

</manifest>
